<form #f="ngForm" (submit)="salvar()">


  <div class="content-main">

    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1 class="cl-default-dark">{{title}}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 mb-2">
          <input-content [error]="errors.nome" label="Nome">
            <input [(ngModel)]="cliente.nome" name="nome" class="input">
          </input-content>
        </div>
        <div class="col-md-4 mb-2">
          <input-content [error]="errors.email" label="Email">
            <input [(ngModel)]="cliente.email" name="email"  valid-email class="input">
          </input-content>
        </div>
        <div class="col-md-4 mb-2">
          <input-content [error]="errors.cep"  label="CEP" opcional="true">
            <input  mask-cep name="cep" [(ngModel)]="cliente.endereco.cep" class="input" />
          </input-content>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 mb-2">
          <input-content  [error]="errors.estado"  label="Estado">
            <div class="group right ">
              <input name="estado" class="input disabled" [(ngModel)]="cliente.endereco.municipio.estado.nome" disabled>
              <div  data-dialog="#estados" class="input-text toggle-dialog c-pointer"><icon name="search_modal" class="fill-default-dark" size="24px"></icon></div>
            </div>
          </input-content>
        </div>
        <div class="col-md-4 mb-2">
          <input-content [error]="errors.municipio"  label="Municipio">
            <div class="group right ">
              <input name="municipio"  [(ngModel)]="cliente.endereco.municipio.nome"   class="input disabled" disabled>
              <div  data-dialog="#municipios"  class=" toggle-dialog input-text c-pointer"><icon name="search_modal" class="fill-default-dark" size="24px"></icon></div>
            </div>
          </input-content>
        </div>
        <div class="col-md-4 mb-2">
          <input-content [error]="errors.bairro"  label="Bairro">
            <input name="bairro" [(ngModel)]="cliente.endereco.bairro" class="input">
          </input-content>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 mb-2">
          <input-content [error]="errors.rua"   label="Rua">
            <input name="rua"  [(ngModel)]="cliente.endereco.rua" class="input">
          </input-content>
        </div>
        <div class="col-md-4 mb-2">
          <input-content  [error]="errors.numero" label="Número">
            <input name="numero"  [(ngModel)]="cliente.endereco.numero" class="input">
          </input-content>
        </div>
        <div class="col-md-4 mb-2">
          <input-content label="Complemento" opcional="true">
            <input name="complemento"  [(ngModel)]="cliente.endereco.complemento"  class="input">
          </input-content>
        </div>
      </div>

      <div class="row" *ngFor="let telefone of cliente.telefones | keyvalue">
        <div class="col-md-3 mb-2">
          <input-content [error]="errors.telefones[telefone.key]" label="Telefone">
            <input  [name]="('numero'+telefone.key)"  [(ngModel)]="telefone.value.numero" class="input">
          </input-content>
        </div>
        <div class="col-md-3 mb-2">
          <input-content opcional="true" label="Descrição">
            <input [name]="('descricao'+telefone.key)"  [(ngModel)]="telefone.value.descricao" class="input">
          </input-content>
        </div>
        <div class="col-md-2 mb-2">
          <div class="label">
            Whatsapp
          </div>
          <checkbox [name]="('whatsapp'+telefone.key)"  [model]="telefone.value" field="whatsapp"></checkbox>
        </div>
        <div class="col-md-4 mb-2 d-flex align-items-end ">
          <button  type="button" *ngIf="cliente.telefones.length != 1" style="margin-right:10px;height: 40px;width: 40px" class="button default-dark d-flex justify-content-center align-items-center"  (click)="removerTelefone(telefone.key)">
            <icon name="trash" size="20px" class="fill-white"></icon>
          </button>
          <button  type="button" *ngIf="(telefone.key == 0 && cliente.telefones.length == 1) || exibirAddTelefone(telefone.key)"  style="height: 40px;width: 40px" (click)="addTelefone()" class="button default-dark d-flex justify-content-center align-items-center" >
            <icon name="plus" size="20px" class="fill-white"></icon>
          </button>

        </div>

      </div>
      <div class="row">
        <div class="col-md-3">
          <button type="submit" class="button  btn-block primary">Salvar</button>


        </div>
      </div>
    </div>

  </div>


</form>

<modal-dialog [ref]="dialogEstado"   title="Estados" name="estados">
  <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead>
          <th class="cl-default">ID</th>

          <th class="cl-default">Nome</th>
          <th class="cl-default">Sigla</th>
          </thead>
          <tbody>
          <tr (click)="selecionarEstado(estado)"   class="c-pointer" *ngFor="let estado of estados">
            <td data-label="ID">{{estado.id}}</td>
            <td data-label="Nome">{{estado.nome}}</td>
            <td data-label="Sigla">{{estado.sigla}}</td>
          </tr>
          </tbody>
        </table>
      </div>
  </div>
</modal-dialog>


<modal-dialog [ref]="dialogMunicipio"  title="Municípios" name="municipios">
  <div class="row d-flex justify-content-end align-items-end">
    <div class="col-md-8 mb-2">
      <input-content label="">
        <input [(ngModel)]="paginacao.nome"  class="input">
      </input-content>
    </div>
    <div class="col-md-4 mb-2">
      <button [disabled]="!cliente.endereco.municipio.estado.id"  (click)="getMunicipios()"  class="button block primary">Pesquisar</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
        <th class="cl-default">ID</th>
        <th class="cl-default">Nome</th>
        </thead>
        <tbody>
        <tr [hidden]="(loadingMunicipio == false && municipios.length > 0)">
          <td colspan="6">
            <div class="d-flex justify-content-center">
              <loading message="Nenhum municipio encontrado" [showMessage]="loadingMunicipio == false && municipios.length == 0"
                       [status]="loadingMunicipio"  size="80px"></loading>
            </div>
          </td>
        </tr>
        <tr (click)="selecionarMunicipo(municipio)"  class="c-pointer" *ngFor="let municipio of municipios">
          <td data-label="ID">{{municipio.id}}</td>
          <td data-label="Nome">{{municipio.nome}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</modal-dialog>




<modal-dialog alert="true" [ref]="dialogSucesso" title="Cliente" name="clienteSucesso">
<div class="row">
  <div class="col-md-12">
    <p>Cliente salvo com sucesso</p>
  </div>
</div>
</modal-dialog>

