<form [formGroup]="form" (submit)="salvar()">
  <div class="content-main">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="title-page">
            <div class="dropdown actions-dropdown">
              <span class=" " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                <icon name="actions" class="actions" size="20px" *ngIf="idServico && !cancelado"></icon>
              </span>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div class="dropdown-item">
                  <a [href]="url_report" class="item" download="servico.pdf" target="_blank">Relatório</a>
                </div>
                <div class="dropdown-item">
                  <div class="item" (click)="clickImages()">Inserir Imagem</div>
                </div>
              </div>
            </div>
            <div>{{title}}</div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-4 mb-2">
          <input-content label="Cliente" [control]="getControl('clienteId')">
            <input-dialog (onClick)="openDialogClient()"
                          [disabled]="cancelado"
                          [value]="seletedClient.nome">
            </input-dialog>
          </input-content>
        </div>
        <div class="col-md-4 mb-2">
          <input-content label="Data" [control]="getControl('data')">

            <input class="input"
                   type="date"
                   formControlName="data"
                   [disabled]="cancelado"
                   [ngClass]="{'disabled': cancelado}"
                   [readOnly]="cancelado">
          </input-content>
        </div>
        <div class="col-md-4 mb-2">
          <input-content label="Status" [control]="getControl('status')">
            <select-search
              [options]="listaStatus"
              field="descricao"
              [model]="form.controls['status'].value"
              id="id"
              [disabled]="cancelado"
            >
            </select-search>
          </input-content>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 mb-2">
          <input-content label="Data da Entrega" [control]="getControl('dataEntrega')">
            <input class="input"
                   type="date"
                   formControlName="dataEntrega"
                   [disabled]="cancelado"
                   [ngClass]="{'disabled': cancelado}"
                   [readOnly]="cancelado">
          </input-content>
        </div>
        <div class="col-md-4 mb-2">
          <input-content label="Tecido" [control]="getControl('tecidoId')">
            <select-search
              [id]="'id'"
              [options]="listaTecidos"
              field="descricao"
              [disabled]="cancelado"
              (changeValue)="onChangeTecido($event)"
              [model]="getControl('tecidoId').value"
            >
            </select-search>
          </input-content>
        </div>
        <div class="col-md-4 mb-2">
          <input-content label="Cor" [control]="getControl('corId')">
            <select-search
              [id]="'id'"
              [options]="listaCores"
              field="descricao"
              [disabled]="cancelado"
              (changeValue)="onChangeCor($event)"
              [model]="getControl('corId').value"
            >
            </select-search>
          </input-content>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mb-2">
          <input-content label="Descrição" [control]="getControl('descricao')">
            <textarea class="input"
                      formControlName="descricao"
                      [disabled]="cancelado"
                      maxlength="500"
                      [ngClass]="{'disabled': cancelado}"
                      [readOnly]="cancelado"></textarea>
          </input-content>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-2">
          <input-content label="Materiais a serem utilizados" [control]="getControl('materiasUtilizados')">
            <textarea class="input"
                      formControlName="materiaisUtilizados"
                      [disabled]="cancelado"
                      maxlength="300"
                      [ngClass]="{'disabled': cancelado}"
                      [readOnly]="cancelado"></textarea>
          </input-content>
        </div>
        <div class="col-md-6 mb-2">
          <input-content label="Observação" [control]="getControl('observacao')">
            <textarea class="input"
                      maxlength="300"
                      formControlName="observacao"
                      [disabled]="cancelado"
                      [ngClass]="{'disabled': cancelado}"
                      [readOnly]="cancelado"></textarea>
          </input-content>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2 class="subheader">Endereço de Entrega</h2>
        </div>
      </div>
      <div [formGroup]="formEndereco">
        <div class="row">
          <div class="col-md-4">
            <input-content label="Estado" [control]="getControlEndereco('estadoId')">
              <select-search
                [id]="'id'"
                [disabled]="cancelado"
                [options]="listaEstados"
                field="nome"
                [model]="getControlEndereco('estadoId').value"
                (changeValue)="onChangeEstado($event)"
              >
              </select-search>
            </input-content>
          </div>
          <div class="col-md-4">
            <input-content label="Municipio" [control]="getControlEndereco('municipioId')">
              <select-search
                [id]="'id'"
                [disabled]="cancelado"
                [options]="listaMunicipios"
                field="nome"
                [model]="getControlEndereco('municipioId').value"
                (changeValue)="onChangeMunicipio($event)"

              >
              </select-search>
            </input-content>
          </div>
          <div class="col-md-4 mb-2">
            <input-content label="CEP" [control]="getControlEndereco('cep')">
              <input class="input"
                     maxlength="50"
                     formControlName="cep"
                     [disabled]="cancelado"
                     [ngClass]="{'disabled': cancelado}"
                     [readOnly]="cancelado">
            </input-content>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-2">
            <input-content label="Bairro"
                           [control]="getControlEndereco('bairro')"
            >
              <input class="input"
                     formControlName="bairro"
                     maxlength="100"
                     [disabled]="cancelado"
                     [ngClass]="{'disabled': cancelado}"
                     [readOnly]="cancelado">
            </input-content>
          </div>
          <div class="col-md-4 mb-2">
            <input-content label="Rua" [control]="getControlEndereco('rua')">
              <input class="input"
                     maxlength="100"
                     formControlName="rua"
                     [disabled]="cancelado"
                     [ngClass]="{'disabled': cancelado}"
                     [readOnly]="cancelado">
            </input-content>
          </div>
          <div class="col-md-4 mb-2">
            <input-content label="Número" [control]="getControlEndereco('numero')">
              <input class="input"
                     formControlName="numero"
                     [disabled]="cancelado"
                     maxlength="30"
                     [ngClass]="{'disabled': cancelado}"
                     [readOnly]="cancelado">
            </input-content>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-2">
            <input-content label="Complemnto" opcional="true" [control]="getControlEndereco('complemento')">
              <input class="input"
                     formControlName="complemento"
                     [disabled]="cancelado"
                     maxlength="30"
                     [ngClass]="{'disabled': cancelado}"
                     [readOnly]="cancelado">
            </input-content>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2 class="subheader">Pagamento</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 mb-2" [formGroup]="formPagamento">
          <input-content label="Subtotal">
            <input class="input"
                   currencyMask
                   [disabled]="cancelado"
                   [ngClass]="{'disabled': cancelado}"
                   [readOnly]="cancelado"
                   (keyup)="changeValorTotal()"
                   formControlName="subtotal"
                   [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
          </input-content>
        </div>
        <div class="col-md-3 mb-2">
          <input-content label="Valor Frete">
            <input class="input" formControlName="valorFrete" currencyMask
                   (keyup)="changeValorTotal()"
                   [disabled]="cancelado"
                   [ngClass]="{'disabled': cancelado}"
                   [readOnly]="cancelado"
                   [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
          </input-content>
        </div>
        <div class="col-md-2 mb-2" [formGroup]="formPagamento">
          <input-content label="Parcelas">
            <input class="input"
                   min="1"
                   [disabled]="cancelado"
                   [ngClass]="{'disabled': cancelado}"
                   [readOnly]="cancelado"
                   type="number"
                   formControlName="parcelas"
                   (change)="changeParcelas($event)"
            >
          </input-content>
        </div>
        <div class="col-md-4 mb-2" [formGroup]="formPagamento">
          <input-content label="Valor Total">
            <input class="input disabled"
                   formControlName="valorTotal"
                   disabled currencyMask
                   [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
          </input-content>
        </div>
      </div>
      <div>

        <div class="row" *ngIf="pagamentosArray.length > 0">
          <div class="col-md-4">
            <label class="label">Valor</label>
          </div>
          <div class="col-md-4">
            <label class="label">Forma de pagamento</label>
          </div>
          <div class="col-md-2">
            <div class="label">
              Pago
            </div>
          </div>
        </div>
        <div class="row" *ngFor="let group of pagamentosArray.controls;let i = index" [formGroup]="group">
          <div class="col-md-4 mb-2">
            <input-content label="" [control]="group.get('valor')">
              <input class="input" currencyMask formControlName="valor"
                     [disabled]="cancelado"
                     [ngClass]="{'disabled': cancelado}"
                     [readOnly]="cancelado"
                     [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
            </input-content>
          </div>
          <div class="col-md-4 mb-2">
            <input-content label="" [control]="group.get('formaPagamentoId')">
              <select-search
                [id]="'id'"
                [disabled]="cancelado"
                [options]="listaFormasPagamentos"
                field="nome"
                [model]="group.get('formaPagamentoId').value"
                (changeValue)="onChangeFormaPagamento($event, group)"
              >
              </select-search>
            </input-content>
          </div>
          <div class="col-md-2 mb-2">
            <checkbox [value]="group.get('pago').value"
                      [disabled]="cancelado"
                      (onChange)="onChangePago($event,group)">
            </checkbox>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <button type="submit"
                  class="button  btn-block primary"
                  [disabled]="cancelado">Salvar
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
<modal-dialog title="Imagens" [ref]="dlImages" name="images_servicos">

  <div class="row" *ngFor="let servicoImage of listImages; let i = index">
    <div class="col-md-12 mb-2 d-flex justify-content-center">
      <form>
        <div class="content-image c-pointer" (click)="changeImage(i)">
          <img [src]="getUrlImage(servicoImage.image)" *ngIf="servicoImage.image.base64 || servicoImage.image.name"
               width="100%" height="170px">
          <icon *ngIf="!(servicoImage.image.base64 || servicoImage.image.name)" name="galery" class="fill-content-dark"
                size="170px"></icon>
        </div>
      </form>

    </div>
    <div class="col-md-12 mb-2 ">
      <textarea class="input" rows="4" [(ngModel)]="listImages[i].descricao"></textarea>
    </div>
    <div class="col-md-12 mb-2 d-flex flex-row justify-content-start align-items-end">
      <button type="button"
              *ngIf="listImages.length > 1"
              (click)="removeImage(i)"
              style="margin-right: 5px"
              class="button default-dark   align-items-center">
        <icon name="trash" size="20px" class="fill-white"></icon>
      </button>
      <button type="button"
              (click)="addImage()"
              *ngIf="listImages.length == i+1"

              class="button default-dark   align-items-center">
        <icon name="plus" size="20px" class="fill-white"></icon>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button class="button primary block" (click)="salvarImages()">Salvar</button>
    </div>
  </div>

</modal-dialog>

<modal-dialog title="Clientes" [ref]="ctlDlCliente" name="clientes_servico">
  <div class="">
    <div class="row">
      <div class="col-md-8">
        <input class="input" placeholder="Pesquisar" [(ngModel)]="searchText">
      </div>
      <div class="col-md-4">
        <button class="button primary block" (click)="clickSearchClients()">Pesquisar</button>
      </div>
    </div>
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <thead>
            <th class="cl-default">Nome</th>
            <th class="cl-default">E-mail</th>
            <th class="cl-default">CPF</th>
            </thead>
            <tbody>
            <tr [hidden]="(loadingClient == false && listaClientes.length > 0)">
              <td colspan="6">
                <div class="d-flex justify-content-center">
                  <loading message="Nenhum cliente encontrado"
                           [showMessage]="loadingClient == false && listaClientes.length == 0"
                           [status]="loadingClient" size="80px"></loading>
                </div>
              </td>
            </tr>
            <tr *ngFor="let client of listaClientes" class="c-pointer" (click)="clickClient(client)">
              <td data-label="Nome">{{client.nome}}</td>
              <td data-label="E-mail">{{client.email}}</td>
              <td data-label="CPF">{{client.cpf}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <pagination [paginator]="paginator"
                (change)="changePageClient($event)"></pagination>
  </div>
</modal-dialog>




